.idea/*
.idea/.
.gradle/*
gradle/
gradle/*
out/*
target/*
build/*
gradlew
gradlew.bat
src/main/main.iml
src/test/test.iml
appiumServerLog.txt
test-output/
allure-results/
WordPress.zip
WordPress.apk
testng.xml
androidDevice.json
iosDevice.json