.idea/*
.idea/.
.gradle/*
gradle/
gradle/*
out/*
target/*
build/*
gradlew
gradlew.bat
src/main/main.iml
src/test/test.iml
test-output/
allure-results/
!src/main/resources/WordPress.zip
!src/main/resources/WordPress.apk
!src/main/resources/testng.xml
!src/main/resources/androidDevice.json
!src/main/resources/iosDevice.json