<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test Execution" parallel="none">
    <test name="E2E Test Suite On Web - Chrome">
        <parameter name="platformType" value="web"/>
        <parameter name="platformName" value="chrome"/>
        <classes>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>

<!--    <test name="E2E Test Suite On Web - Firefox">-->
<!--        <parameter name="platformType" value="web"/>-->
<!--        <parameter name="platformName" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="tests.HomePageTest"/>-->
<!--        </classes>-->
<!--    </test>-->

    <!--<test name="E2E Test Suite On Android - Pixel">-->
        <!--<parameter name="platformType" value="mobile"/>-->
        <!--<parameter name="platformName" value="android"/>-->
        <!--<parameter name="model" value="pixel"/>-->
        <!--<classes>-->
            <!--<class name="tests.HomePageTest"/>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="E2E Test Suite On iOS - iPhone6S">-->
        <!--<parameter name="platformType" value="mobile"/>-->
        <!--<parameter name="platformName" value="ios"/>-->
        <!--<parameter name="model" value="iphone6s"/>-->
        <!--<classes>-->
            <!--<class name="tests.HomePageTest"/>-->
        <!--</classes>-->
    <!--</test>-->
</suite>